<div class="panel panel-success">
    <div class="panel-heading">
        Table
        <div class="widget-header-toolbar">
            <span class="widgetHeaderBtn" ng-click="focusWidget()">0</span>
            <span class="widgetHeaderBtn" ng-click="closeWidget()">X</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="tableContainer">
            <table class="table table-striped" data-height="400" style="width: 99%">

                <tr>
                    <th ng-repeat="schemaItem in schema">{{schemaItem}}</th>
                </tr>
                <tr ng-repeat="dataItem in data">
                    <td ng-repeat="schemaItem in schema">{{dataItem[schemaItem]}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>