<span class="rangeBorderLbl">Min X</span>
<br /><input type="text" class="rangeBorderTxt" ng-model="filterConfig.x.min">
<br /><span class="rangeBorderLbl">Max X</span>
<br /><input type="text" class="rangeBorderTxt" ng-model="filterConfig.x.max">
<br /><span class="rangeBorderLbl">Min Y</span>
<br /><input type="text" class="rangeBorderTxt" ng-model="filterConfig.y.min">
<br /><span class="rangeBorderLbl">Max Y</span>
<br /><input type="text" class="rangeBorderTxt" ng-model="filterConfig.y.max">      
<div id="filterTableWrapper">
    <div id="filterTableScroll">
        <table>                                
            <tr ng-repeat="item in titlesArr">
                <td><input type="checkbox" ng-model="item.isValid"></td>      
                <td>{{item.value}}</td>                                       
            </tr>                                                             
        </table>                                                              
    </div>                                                                    
</div>                                                                        
<br /><input type="button" class="filterBtn" value="Filter Data" ng-click="filterData()">  
<br /><input type="button" class="filterBtn" value="Reset Data" ng-click="resetDataSource()">