<select class="filterDropDown" ng-model="rangeFilterConfig.key" ng-options="opt as opt for opt in schemaOptions" ng-change="getListOfValues()"></select>
<br /><span class="rangeBorderLbl">Min</span>
<br /><input type="text" class="rangeBorderTxt" ng-model="rangeFilterConfig.min">
<br /><span class="rangeBorderLbl">Max</span>
<br /><input type="text" class="rangeBorderTxt" ng-model="rangeFilterConfig.max">
<br /><input type="button" class="filterBtn" value="Filter Data" ng-click="filterDataByRange()">
