<div class="panel panel-success">
    <div class="panel-heading">
        Selector filter
        <span class="widgetHeaderBtn" onclick="this.parentNode.parentNode.parentNode.style.opacity = '0.4'" ng-click="requireLazyFiltering(800);deactivateWidget()" ng-show="config.isActiveNow">D</span>
        <span class="widgetHeaderBtn" onclick="this.parentNode.parentNode.parentNode.style.opacity = '1'" ng-click="activateWidget();requireLazyFiltering(800)" ng-show="!config.isActiveNow">A</span>
        <span class="widgetHeaderBtn" ng-click="closeWidget();requireLazyFiltering(800);deactivateWidget()">X</span>
    </div>
    <div class="panel-body">
        <div style="padding:3px">
            <select class="filterDropDown" ng-model="config.key" ng-options="opt as opt for opt in schemaOptions" ng-change="getListOfValues()"></select>
            <div id="filterTableWrapper">
                <div id="filterTableScroll">
                    <table>
                        <tr ng-repeat="item in config.validationListOfValues">
                            <td><input type="checkbox" ng-model="item.isValid" ng-change="requireLazyFiltering(1000)"></td>
                            <td>{{item.value}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
