<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">dashboard</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="control-label">User's name</label>
                <input type="text" class="form-control" ng-model="inputUserName">
            </div>
            <div class="form-group">
                <label class="control-label">Title</label>
                <input type="text" class="form-control" ng-model="dashboardName">
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea class="form-control" ng-model="dashboardDescription"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" aria-hidden="true" ng-click="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="sendDashboard()">Send</button>
    </div>
</div>