body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.highChart {
    width: 700px;
    position: absolute !important;
}

.chartConfig {
    position: absolute;
}
.dataTable {
    width: 500px;
    height: 400px;
    min-width: 100px;
    min-height: 30px;
    position: absolute !important;
}
.tableContainer {
    position: absolute;
    top: 25px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: white;
}

#chart {
    width: 700px;
    overflow: hidden;
}

#chartConfigButton {
    width: 100%;
}


#toolBox{
    width:auto;
    float:left;
}
td {
    padding: 5px;
    margin: 0px;
    border: 1px solid gray;
}


.btn-file {
position: relative;
overflow: hidden;
}
.btn-file input[type=file] {
position: absolute;
top: 0;
right: 0;
min-width: 100%;
min-height: 100%;
font-size: 100px;
text-align: right;
filter: alpha(opacity=0);
opacity: 0;
outline: none;
background: white;
cursor: inherit;
display: block;
}

.rangeFilter {
    text-align: center;
    align-items: center;
    position: absolute; 
    border-width: 2px;
    border-style: ridge; 
    border-radius: 4px;
    padding: 1px;
    width: 110px;
}
.selectorFilter {
     text-align: center;
    align-items: center;
    position: absolute; 
    border-width: 2px;
    border-style: ridge; 
    border-radius: 4px;
    padding: 1px;
    width: 150px;
}

.filterBtn{
    width: 90px;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 2px;
    text-align: center;
    font-weight: 600;
}

.rangeBorderLbl{
    width: 50px;
    font-weight: bold;
}

.rangeBorderTxt{
    width: 60px;
    border-radius: 4px;
    border-width: 1px;
    border-style: ridge;
}

.filterDropDown{
    width: 100px;
}

#filterTableWrapper {
  position: relative;
}
#filterTableScroll {
  height: 170px;
  width: 140px;
  overflow: auto; 
}

select.form-control.header {
    width: 400px;
}

select.form-control.modalWindow {
    width: 100%;
}

.widgetHeader {
    width: 100%;
    height: 25px;
    overflow: hidden;
    background-color: lightblue;
    cursor: move;
}
.widget-header-toolbar {
    float: right;
    margin-right: 5px;
    height: 30px;
    overflow: visible;
}


.close-btn a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.focus-btn a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.overlay {
    background: black;
    opacity: .9;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1090;
}


