<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.Net 134</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="/Scripts/Src/modernizr-2.6.2.js"></script>
    <script src="/Scripts/Src/bootstrap.js"></script>
    <script src="/Scripts/Src/respond.js"></script>
    <script src="/Scripts/events.js"></script>
    <script src="/Scripts/sandbox.js"></script>
    <script src="/Scripts/moduleHighChart.js"></script>
    <script src="/Scripts/moduleDataTable.js"></script>
    <script src="/Scripts/core.js"></script>
    <script src="/Scripts/moduleUploadData.js"></script>
    <script src="/Scripts/moduleChartConfig.js"></script>
    <script src="/Scripts/eventManager.js"></script>
    <script src="/Scripts/dashboard.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Data visualization", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>
