<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        <li data-target="#myCarousel" data-slide-to="5" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="~/home/register">
                <img src="/Content/Images/RegisterOperation.jpg" style="
                                      width: 100%;
                                      height: 100%;
                                  " />
            </a>
            <div class="container">

                <div class="carousel-caption">
                    <h1>Getting started</h1>
                    <p>
                        Register / Sign in
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/Content/Images/DataUpload.jpg" style="
                                      width: 100%;
                                      height: 100%;
                                  " />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Upload your data</h1>
                    <p>
                        You can upload .xslx or .csv file
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/Content/Images/DragDrop.jpg" style="
                                      width: 100%;
                                      height: 100%;
                                  " />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Organize dashboard</h1>
                    <p>
                        Drag and drop widgets
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/Content/Images/Config.jpg" style="
                                      width: 100%;
                                      height: 100%;
                                  " />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Customize widgets</h1>
                    <p>
                        Change widgets configuration
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/Content/Images/SaveShare.jpg" style="
                                      width: 100%;
                                      height: 100%;
                                  " />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Save / Share dashboard</h1>
                    <p>
                        Save your work session.
                        Share to your friends.
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/Content/Images/Enjoy.jpg" style="
                                      width: 100%;
                                      height: 100%;
                                  " />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Enjoy</h1>
                    <p>
                        Make data work for you
                </div>
            </div>
        </div>
    </div>
</div>