<h2 style="text-align: center">See it in action</h2>
<div align="center">
    <iframe width="854" height="510" src="https://www.youtube.com/embed/g0aVNUWqt_o" frameborder="2" allowfullscreen></iframe>
</div>
<hr/>
<div class="container" id="cnt1">
    <div class="row feature">
        <div class="col-sm-2">
            <div>
                <h4>Online charts</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>Online charts</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>Customization</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>Cloud storing</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>Black-jack</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>and others</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>

    </div>
</div>

<hr />
<h2 style="text-align: center">About us</h2>
<div class="container" id="cnt1">
    <div class="row feature">
        <div class="col-5ths">
            <div>
                <img src="~/Content/Images/Nazar.jpg" class="img-circle" width="85%" height="85%">
                <h4>Nazar Hopchak</h4>
                <p>
                    I am strong in object oriented concepts for software design and implementation.
                    I also have good technological knowledge and bla bla bla.
                </p>
            </div>
        </div>
        <div class="col-5ths">
            <div>
                <img src="~/Content/Images/Vitalii.jpg" class="img-circle" width="85%" height="85%">
                <h4>Vitalii Kulyk</h4>
                <p>
                    I am strong in object oriented concepts for software design and implementation.
                    I also have good technological knowledge in C#, design patterns, databases.
                </p>
            </div>
        </div>
        <div class="col-5ths">
            <div>
                <img src="http://feodosia-info.com/images/FotoGalerey/f0b51498_s_245.jpg" class="img-circle" width="85%" height="85%">
                <h4>Bohdan Yaremchyshyn</h4>
                <p>
                    I am strong in object oriented concepts for software design and implementation.
                    I also have good technological knowledge in C#, design patterns, databases.
                </p>
            </div>
        </div>
        <div class="col-5ths">
            <div>
                <img src="http://feodosia-info.com/images/FotoGalerey/f0b51498_s_245.jpg" class="img-circle" width="85%" height="85%">
                <h4>Volodymyr Synytskyi</h4>
                <p>
                    I am strong in object oriented concepts for software design and implementation.
                    I also have good technological knowledge in C#, design patterns, databases.
                </p>
            </div>
        </div>
        <div class="col-5ths">
            <div>
                <img src="http://feodosia-info.com/images/FotoGalerey/f0b51498_s_245.jpg" class="img-circle" width="85%" height="85%">
                <h4>Maryan Plakhtiy</h4>
                <p>
                    I am strong in object oriented concepts for software design and implementation.
                    I also have good technological knowledge in C#, design patterns, databases.
                </p>
            </div>
        </div>
    </div>
</div>
