<h2 style="text-align: center">See it in action</h2>
<hr/>
<div class="container" id="cnt1">
    <div class="row feature">
        <div class="col-sm-2">
            <div>
                <h4>Online charts</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>Online charts</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>Customization</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>Cloud storing</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>Black-jack</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>and others</h4>
                <p>
                    bla-bla bla bla bla bla bla bla
            </div>
        </div>

    </div>
</div>

<hr />
