<div id="main" ng-app="application">
    <div id="dataTable" class="dataTable"></div>
    <div align="center" id="filter" class="filter"></div>
    <div id="chart"></div>
    <div id="chartConfig" class="chartConfig"></div>
    <div id="uploadData"></div>
</div>

<script>
    var application = angular.module('application', ['ui.bootstrap']);

    directive.create(application, "dataTable", htmlTemplates["dataTable"]);
    directive.create(application, "filter", htmlTemplates["filter"]);
    directive.create(application, "chartConfig", htmlTemplates["chartConfig"]);

    var core = core(sandBox, eventManager, dashboard);

    core.registerModule(moduleDataTable);
    core.startModule(moduleDataTable, document.getElementById("dataTable"));

    core.registerModule(moduleHighChart);
    core.startModule(moduleHighChart, document.getElementById("chart"));

    core.registerModule(moduleFilters);
    core.startModule(moduleFilters, document.getElementById("filter"));

    core.registerModule(moduleUploadData);
    core.startModule(moduleUploadData, document.getElementById("uploadData"));

    core.registerModule(moduleChartConfig);
    core.startModule(moduleChartConfig, document.getElementById("chartConfig"));


</script>
