<div id="main">

    <div id="dataTable" class="dataTable"></div>
    <div align="center" id="filter" class="col-sm-2 filter"></div>
    <div id="chart"></div>
    <div id="chartConfig" class="chartConfig"></div>
    <div id="uploadData"></div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Save dashboard</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveDashboard()">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>

    directive.create(application, "dataTable", "/HtmlTemplates/DataTable.html");
    directive.create(application, "filter", "/HtmlTemplates/Filter.html");
    directive.create(application, "chartConfig", "/HtmlTemplates/ChartConfig.html");

    var core = core(sandBox, eventManager, moduleManager);

    core.registerModule(moduleUploadData);
    core.startModule(moduleUploadData.name, document.getElementById("uploadData"));

    core.registerModule(moduleDataTable);
    core.startModule(moduleDataTable.name, document.getElementById("dataTable"));

    core.registerModule(moduleFilters);
    core.startModule(moduleFilters.name, document.getElementById("filter"));

    core.registerModule(moduleHighChart);
    core.startModule(moduleHighChart.name, document.getElementById("chart"), { top: 300, left: 50 });

    core.registerModule(moduleChartConfig);
    core.startModule(moduleChartConfig.name, document.getElementById("chartConfig"));

</script>