<div id="main">
    <div class="overlay" id="overlay" style="display: none;"></div>
    <div id="toolBox" class="toolBox"></div>
    <div id="dashboard"></div>
</div>

<script>
    directive.create(application, widgetDataTable.name, "/HtmlTemplates/DataTable.html");
    directive.create(application, widgetRangeFilter.name, "/HtmlTemplates/RangeFilter.html");
    directive.create(application, widgetSelectorFilter.name, "/HtmlTemplates/SelectorFilter.html");
    directive.create(application, widgetHighChart.name, "/HtmlTemplates/ChartConfig.html");
    directive.create(application, moduleToolBox.name, "/HtmlTemplates/ToolBox.html");

    var core = core(sandBox, eventManager, widgetManager,moduleToolBox);
    
    var currentWindowOnload = window.onload;
    window.onload = function () {
        if (currentWindowOnload) {
            currentWindowOnload();
        }
        core.startModule(moduleDashBoard, document);
        core.startModule(moduleDragDrop(document.getElementById("dashboard")));
        core.startModule(moduleFiltering);
        core.startModule(moduleToolBox, document.getElementById("toolBox"));

        core.registerWidget(widgetDataTable);
        core.registerWidget(widgetRangeFilter);
        core.registerWidget(widgetSelectorFilter);
        core.registerWidget(widgetHighChart);

        core.startWidget(widgetDataTable.name, angularHelper.createElement(document.getElementById("dashboard"), widgetDataTable.name));
        core.startWidget(widgetHighChart.name, angularHelper.createElement(document.getElementById("dashboard"), widgetHighChart.name));
        core.stopAllWidgets();
    };
</script>