<div id="main">
    <div class="overlay" id="overlay" style="display:none;"></div>
    <div id="toolBox" class="toolBox"></div>
    <div id="dashboard">
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="modalInputController">

        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Save dashboard</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" class="form-control" ng-model="inputDashboardName">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <textarea class="form-control" ng-model="inputDashboardDescription"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveDashboard()">Save</button>
                </div>
            </div>
        </div>
    </div>
    


</div>
<script>
    
    directive.create(application, "dataTable", "/HtmlTemplates/DataTable.html");
    directive.create(application, "rangeFilter", "/HtmlTemplates/RangeFilter.html");
    directive.create(application, "selectorFilter", "/HtmlTemplates/SelectorFilter.html");
    directive.create(application, "highChart", "/HtmlTemplates/ChartConfig.html");
    directive.create(application, "toolBox", "/HtmlTemplates/ToolBox.html");

    var core = core(sandBox, eventManager, widgetManager,moduleToolBox);

    core.registerWidget(widgetDataTable);
    core.registerWidget(widgetRangeFilter);
    core.registerWidget(widgetSelectorFilter);
    core.registerWidget(widgetHighChart);


    
    
    var currentWindowOnload = window.onload;
    window.onload = function () {
        if (currentWindowOnload) {
            currentWindowOnload();
        }
        core.startWidget("dataTable", core.createAngularElement(document.getElementById("dashboard"), "dataTable"));
        core.startWidget(widgetHighChart.name, core.createAngularElement(document.getElementById("dashboard"), widgetHighChart.name));
        core.stopAllWidgets();
        core.startModule(moduleDashBoard, document);
        core.startModule(moduleDragDrop, document);
        core.startModule(moduleFilterLogic, document);
        core.startModule(moduleToolBox, document.getElementById("toolBox"));
    };
</script>