<div id="main">
    <div class="overlay" id="overlay" style="display:none;"></div>
    <div id="toolBox" class="toolBox"></div>
    <div id="dashboard"></div>
</div>
<script>
    
    directive.create(application, "dataTable", "/HtmlTemplates/DataTable.html");
    directive.create(application, "rangeFilter", "/HtmlTemplates/RangeFilter.html");
    directive.create(application, "selectorFilter", "/HtmlTemplates/SelectorFilter.html");
    directive.create(application, "highChart", "/HtmlTemplates/ChartConfig.html");
    directive.create(application, "toolBox", "/HtmlTemplates/ToolBox.html");

    var core = core(sandBox, eventManager, widgetManager,moduleToolBox);

    core.registerWidget(widgetDataTable);
    core.registerWidget(widgetRangeFilter);
    core.registerWidget(widgetSelectorFilter);
    core.registerWidget(widgetHighChart);


    
    
    var currentWindowOnload = window.onload;
    window.onload = function () {
        if (currentWindowOnload) {
            currentWindowOnload();
        }
        core.startWidget(widgetDataTable.name, angularHelper.createElement(document.getElementById("dashboard"), widgetDataTable.name));
        core.startWidget(widgetHighChart.name, angularHelper.createElement(document.getElementById("dashboard"), widgetHighChart.name));
        core.stopAllWidgets();
        core.startModule(moduleDashBoard, document);
        core.startModule(moduleDragDrop(document.getElementById("dashboard")), document);
        core.startModule(moduleFilterLogic, document);
        core.startModule(moduleToolBox, document.getElementById("toolBox"));
    };
</script>