<div id="main" ng-app="application">
    <div id="dataTable" class="dataTable"></div>
    <div align="center" id="filter" class="col-sm-2 filter"></div>
    <div id="chart"></div>
    <div id="chartConfig" class="chartConfig"></div>
    <div id="uploadData"></div>
</div>

<script>
    var application = angular.module('application', ['ui.bootstrap']);

    directive.create(application, "dataTable", "/HtmlTemplates/DataTable.html");
    directive.create(application, "filter", "/HtmlTemplates/Filter.html");
    directive.create(application, "chartConfig", "/HtmlTemplates/ChartConfig.html");

    var core = core(sandBox, eventManager, moduleManager);

    core.registerModule(moduleUploadData);
    core.startModule(moduleUploadData, document.getElementById("uploadData"));
  
    core.registerModule(moduleDataTable);
    core.startModule(moduleDataTable, document.getElementById("dataTable"));

    core.registerModule(moduleFilters);
    core.startModule(moduleFilters, document.getElementById("filter"));
    
    core.registerModule(moduleHighChart);
    core.startModule(moduleHighChart, document.getElementById("chart"));
   
    core.registerModule(moduleChartConfig);
    core.startModule(moduleChartConfig, document.getElementById("chartConfig"));

</script>
