<div id="main" ng-app="application">
    <div id="dataTable" class="dataTable"></div>
    <div align="center" id="filter" class="filter"></div>
    <div id="chart"></div>
    <div id="chartConfig" class="chartConfig"></div>
    <div id="uploadData"></div>
</div>

<script>
    var application = angular.module('application', ['ui.bootstrap']);

    directive.create(application, "dataTable", htmlTemplates["dataTable"]);
    directive.create(application, "filter", htmlTemplates["filter"]);
    directive.create(application, "chartConfig", htmlTemplates["chartConfig"]);

    var core = core(sandBox, eventManager, moduleManager);

    moduleManager.runModule.UploadData();
    moduleManager.runModule.DataTable();

    moduleManager.runModule.HighChart();
    moduleManager.runModule.ChartConfig();
    moduleManager.runModule.Filters();


</script>
